@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,
li,
a{
    text-decoration: none;
    list-style-type: none;
}
body{
    background: #f1f1f1;
    font-family: "lato", sans-serif;
}
.container{
    width: 90%;
    max-width: 1400px;
    margin: auto;
}
h1{
    color: #1a2f42;
    text-align: center;
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px dashed gray;
}
h1 span{
    display: block;
}
h1 span:nth-child(1){
    font-weight: normal;
    color: #ed5d34;
}
/* Mise en place de la grille automatique */
.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 30px;
    margin: 80px 0;
}
/* Style général de la carte avec une perspective de 2000px entre l'objet et l'écran */
.card-wrapper{
    position: relative;
    min-height: 350px;
    perspective: 2000px;
    perspective-origin: top;
}
/* Le hover de la carte avec une rotation de 180° dans l'espace créé entre l'écran et l'objet */
.card-wrapper:hover .card{
    transform: rotateY(180deg);
}
/* La carte avec une transition cubic bezier */
.card{
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.86,0,0.07,1);
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.card-front,
.card-back{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 30px;
    border-radius: 8px;
    /* pour cacher quand on fait la rotation */
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
}
.card-front{
    background: #ed5d34;
    display: flex;
    flex-direction: column;
}
.card-wrapper .card-front{
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover !important;
}
/* Application images des salles */
.card-wrapper:nth-child(1) .card-front{
    background: 
        url(https://images.unsplash.com/photo-1489171078254-c3365d6e359f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80)
    ;
}
.card-wrapper:nth-child(2) .card-front{
    background: 
        url(https://images.unsplash.com/photo-1507209696998-3c532be9b2b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80)
    ;
}
.card-wrapper:nth-child(3) .card-front{
    background: 
        url(https://images.unsplash.com/photo-1557804500-7a58fbcd4d1a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80)
    ;
}
.card-wrapper:nth-child(4) .card-front{
    background: 
        url(https://images.unsplash.com/photo-1497366754035-f200968a6e72?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80)
    ;
}
.card-wrapper:nth-child(5) .card-front{
    background: 
        url(https://images.unsplash.com/photo-1542089078-9086d071d8da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80)
    ;
}
.card-wrapper:nth-child(6) .card-front{
    background: 
        url(https://images.unsplash.com/photo-1497366811353-6870744d04b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80)
    ;
}
.card-wrapper:nth-child(7) .card-front{
    background: 
        url(https://images.unsplash.com/photo-1575886876783-ea3cbbc8204d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1434&q=80)
    ;
}
.card-wrapper:nth-child(8) .card-front{
    background: 
        url(https://images.unsplash.com/photo-1554902843-260acd0993f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80)
    ;
}
/* La mise en couleur d'une carte sur deux */
.card-wrapper:nth-child(even) .card-front{
    background-color: #1a2f42;
}
.card-wrapper:nth-child(even) .card-back{
    background-color: #1a2f42;
}
/* Le style à l'intérieur des cards */
.card-front p{
    font-size: 25px;
    line-height: 35px;
    background: rgb(237,93,52);
    background: linear-gradient(138deg, rgba(237,93,52,1) 0%, rgba(237,93,52,1) 35%, rgba(248,253,254,0) 100%);
}
.card-front .card-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1a2f42;
    background: linear-gradient(138deg, #1a2f42 0%, #1a2f42 35%, rgba(248,253,254,0) 100%);
}
.card-front span{
    font-size: 35px;
    position: relative;
}
.card-front i{
    height: 2rem;
}
.card-back{
    background: #ed5d34;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Le style du bouton */
.card-back a{
    display: inline-block;
    border-radius: 10px;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background-color: #ffff;
    font-size: 14px;
    color: #333;
    transition: 
    background-color 0.3s ease-out,
    color 0.3s ease-out,
}
.card-wrapper:nth-child(odd) .card-back a:hover{
    background-color: #1a2f42;
    color: #f1f1f1;
}
.card-wrapper:nth-child(even) .card-back a:hover{
    background-color: #ed5d34;
    color: #f1f1f1;
}